.arrow_box {
  position: relative;
}
.arrow_box:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #fff;
  border-width: 1em;
  margin-top: -1em;
}

body {
  padding-bottom: 200px;
}

.container textarea {
  width: 100%;
  font-size: 32px;
  padding: 10px;
  padding-top: 20px;
}

.function_label,
.mod_label {
  width: 25%;
  float: left;
  font-family: serif;
}

.chord {
  border-bottom: 2px dashed #ddd;
  padding-bottom: 0px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 200%;
  padding: 10px;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      


  .function_label,
  .mod_label {
    font-size: 50%;
  }

  &.hover {
    background-color: #ddd;
  }

  &.miss {
    border-bottom: 2px solid #faf; 

  }

  &.break {
    border-bottom: 2px solid #faa; 
  }

  &.playing {
    background-color: #aaf;
  }

}

.histogram {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;

  background-color: #333;
  color: #eee;




  .hist_key {
    opacity: 0.7;
    width: 12%;
    cursor: pointer;
    padding-right: 1%;
    padding-left: 1%;
    text-align: right;
    float: left;

     -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;     /* Firefox all */
     -ms-user-select: none;      /* IE 10+ */
     user-select: none;          /* Likely future */      


  }

  .hist_key_2 {
    width: 24%;
    padding-right: 1%;
    padding-left: 1%;
    float: left;
  }

  .hist_head {
    background-color: #bbb;
    color: #000;
    text-align: center;
  }

  .hist_row {
    display: none;
  }

  .hist_row.active {
    display: block;
  }

  .hist_key.active {
    opacity: 1;
    border-width: 2px;
    border-color: gold !important;
  }

  .hist_key.implied {
    font-weight: bold;
    border-bottom: 2px dotted gray;
  }

  .hist_key.seen {
    font-weight: bold;
    border-bottom: 2px solid gray;
  }


  .hist_key.relative {
    border-width: 2px;
  }

  .hist_key.common {
    opacity: 1;
    border-width: 2px;
    border-right: 5px solid #3ff;
/*     background-color: #aff; */
/*     color: #000; */
  }
  .hist_key.possible {
    opacity: 1;
    border-width: 2px;
/*     background-color: #afa; */
/*     color: #000; */
    border-right: 5px solid #3f6;
  }

  .hist_key.current {
    background-color: #aaa; 
  }

  .hist_row {
    .hist_key {
      border-top: 2px solid #aaa;
    }
    margin-bottom: 10px;
  }

  .hist_row.current {
    opacity: 1; 
    .hist_key {
      border-top: 2px solid #3f6;
    }
    margin-bottom: 20px;
  }


.hist_key.class_1 {
  background-color: #555753;
}

.hist_key_2.class_2,
.hist_key.class_2 {
  background-color: #ed5f00;
}
.hist_key_2.class_3,
.hist_key.class_3 {
  background-color: #eeeeec;
}

.hist_key.class_4 {
  background-color: #8ae234;
  color: #000;
}
.hist_key.class_5 {
  background-color: #729fcf;
  color: #000;
}
  
/*  */
/*  */
/*   .rmin, */
/*   .pmin { */
/*     background-color: blue; */
/*   } */
/*    */
/*   .pmaj, */
/*   .rmaj { */
/*     background-color: green; */
/*   } */
/*  */
/*   .dom7 { */
/*  */
/*   } */
/*  */
/*   .res7 { */
/*     background-color: yellow; */
/*   } */
}
