  <div class='not_that_helpful_info collapse clearfix'>
    <h1>what next? <small><a href='#' data-toggle='collapse' data-target='.not_that_helpful_info'>close</a></small></h1> 

    <div class='col-md-6'>
      <p>
      <b>chord bot</b> (imprisoned below)  is a song-writer's mediocre friend. an
      acquaintance, really. he listens to your chord progressions and then gives
      helpful (and unhelpful) advice. and maybe goes on for a bit too long.
      </p>

      <p>
      chord bot uses <b>chord grammars</b> to guess the labeling (I, ii, IV, etc)
      of the chords its been eating. </p>
      
      <p>A chord grammar looks like <b style='font-family: monospace'>iii | vi |
      IV ii | V vii | I</b> and shows what chords will sound good after each
      other. You start from the <b>I</b> and can go to any chord. From there, you travel
      rightwards back to the <b>I</b>. Using this line, it's easy to generate
      endless progressions that sound pleasant against each other.
      </p>
      <p>once chord bot has digested the chords, clicking "what next" on a
      chord will open the <b>modulations table</b>. </p>


    </div>
   
    <div class='col-md-5'>
    <p>
      <b>The modulation table</b> shows
      all keys that contain that chord and their constituent chords (arranged
      by grammatical function). </p>

      <p >A green cell is a chord that works in the grammar of
      the current key and the destination key.  This chord will be 'neutral'
      towards the overall feeling of the tonic.
      </p>

      <p >
      A blue cell is a chord that exists in both keys, but is only grammatical
      in the destination key This chord will flavor the key of the song towards
      the new chord, but sound pleasant in both keys.
      </p>

      <p >
      An unhighlighted cell exists only in the destination key. Using one of
      these will cause a more abrupt modulation.
      </p>
    </div>


    <div class='clearfix col-md-12'>
      <a target='_blank' href='http://github.com/okayzed/whatnext.sf'>view the source code on github</a>

      <a href='#' data-toggle="collapse" data-target=".changelog" class='rfloat mrl'>changelog</a>
    </div>

    <%= render_partial("home/changelog.html.erb") %>

  </div>
