<div class='clearfix col-md-12'>
  <div class='changelog collapse'>
    <h3>11/01/2015</h3>
    <hr />
    <li>teach chordbot how to recognize mixtures</li>
    <li>add modal mixture for minor mode.</li>
    <li>add a few secondary mixtures and applied dominants</li>
    <li>teach chordbot about the dangers of the outside world</li>
    <h3>10/29/2015</h3>
    <hr />
    <li>teach chordbot about inversions.</li>
    <li>add modal mixture for major mode.</li>
    <li>add a few chromatic alterations for major mode</li>
    <li>teach chordbot about the outside world</li>
    <h3>10/27/2015</h3>
    <hr />
    <li>teach chordbot about  sustained / augmented chords. he briefly rebeled.</li>
    <h3>10/26/2015</h3>
    <hr />
    <li>First release (well... imprisonment, technically) of chord bot</li>
  </div>

</div>
