    <div class='clearfix col-md-12'>
      <div class='changelog collapse'>
        <h3>10/29/2015</h3>
        <hr />
        <li>Add support for chord inversions in the modulation table</li>
        <li>Add modal mixture for major mode</li>
        <li>Add chromatic alterations for major mode</li>
        <h3>10/27/2015</h3>
        <hr />
        <li>Add support for sustained / augmented chords</li>
        <h3>10/26/2015</h3>
        <hr />
        First release (well... imprisonment, technically) of chord bot
      </div>

    </div>
