  <div class='modulation_table mtl'> 
    <div class='modulation_controls hidden row' style='margin-right: 0px'> 
      <div href='#' class='hist_control col-xs-4 mods active'>Diatonic</div> 
      <div href='#' class='hist_control col-xs-4 invs'>Inversions (1)</div> 
      <div href='#' class='hist_control col-xs-4 sinvs'>Inversions (2)</div> 
      <div class="clearfix"> </div>
      <div href='#' class='hist_control col-xs-6 alts'>Chromaticisms</div> 
      <div href='#' class='hist_control col-xs-6 subs'>Modal Mixture</div> 
    </div>
    <div class='mod_table'>

    </div>
  
  </div>
