  <div class="loading" style="display: none; text-align: center; padding-top: 40px;" > 
    <img style="margin: auto;" src="/images/loading.gif"> </img> 
  </div>

  <div class='progression_info hidden clearfix row'> 
    <div class="clearfix">
      <h2 class='col-md-6'>CURRENT KEY: <select class='mll key_selector'> </select></h2>
      <div class='col-md-6 row'>
        <div class="col-md-6 col-xs-4 likeliness_ratio pal"> </div>
        <div class="col-md-6 col-xs-4 col-md-pull-1 mod_likeliness_ratio pal"> </div>
      </div>
      <a href='#' class='mtl col-md-12 col-xs-12 rfloat' data-toggle='collapse' data-target='.progression_info .innards'>details</a>

    </div>

    <div class="clearfix">


    </div>

    <div class="innards collapse clearfix mtl">
      <hr />
      <div class="col-md-2 col-xs-4">harm 
        <br /><span class='harmoniousness'> </span></div>
      <div class="col-md-2 col-xs-4">breaks
        <br /><span class='grammar_breaks'> </span></div>
      <div class="col-md-1 col-xs-12"> </div>
      <div class="col-md-2 col-xs-4">mod harm 
        <br /><span class='mod_harmoniousness'> </span></div>
      <div class="col-md-2 col-xs-4">mod breaks
        <br /><span class='mod_grammar_breaks'> </span></div>
      <div class="col-md-2 col-xs-4">modulations
        <br /><span class='alternate_key'> </span></div>
      <div class="clearfix"></div>
      <div class="clearfix">
        <div class="histogram clearfix bml row"> </div>
      </div>
    </div>
  </div>

  <div class='progression '> </div>
