<% add_stylesheet("home") %>

<% 

  var examples = [
    "AM D AM D F G A",
    "Gm E Gm E",
    "Dm GM CM AM Dm G7 CM Dm E7",
    "Ab Db Ab Db Fb Gb Ab",
    "G Em G Em G Bm Am D G Em Bm G ",
    "G D G Bm C D G C G Bm Am D G Em Bm Em G F D",
    "D D D D D D am7 D7/A G G D bm D A7 D "
  ];
%>

<div class="container" style="margin: auto; margin-top: 10px; padding-bottom: 200px">
  <div class='not_that_helpful_info collapse clearfix'>
    <h1>what next? <small><a href='#' data-toggle='collapse' data-target='.not_that_helpful_info'>close</a></small></h1> 

    <div class='col-md-6'>
      <p>
      <b>chord bot</b> (imprisoned below)  is a song-writer's mediocre friend. an
      acquaintance, really. he listens to your chord progressions and then gives
      helpful (and unhelpful) advice. and maybe goes on for a bit too long.
      </p>

      <p>
      chord bot uses <b>chord grammars</b> to guess the labeling (I, ii, IV, etc)
      of the chords its been eating. </p>
      
      <p>A chord grammar looks like <b style='font-family: monospace'>iii | vi |
      IV ii | V vii | I</b> and shows what chords will sound good after each
      other. You start from the <b>I</b> and can go to any chord. From there, you travel
      rightwards back to the <b>I</b>. Using this line, it's easy to generate
      endless progressions that sound pleasant against each other.
      </p>
      <p>once chord bot has digested the chords, clicking "what next" on a
      chord will open the <b>modulations table</b>. </p>


    </div>
   
    <div class='col-md-5'>
    <p>
      <b>The modulation table</b> shows
      all keys that contain that chord and their constituent chords (arranged
      by grammatical function). </p>

      <p >A green cell is a chord that works in the grammar of
      the current key and the destination key.  This chord will be 'neutral'
      towards the overall feeling of the tonic.
      </p>

      <p >
      A blue cell is a chord that exists in both keys, but is only grammatical
      in the destination key This chord will flavor the key of the song towards
      the new chord, but sound pleasant in both keys.
      </p>

      <p >
      An unhighlighted cell exists only in the destination key. Using one of
      these will cause a more abrupt modulation.
      </p>
    </div>


    <div class='clearfix col-md-12'>
      <a target='_blank' href='http://github.com/okayzed/whatnext.sf'>view the source code on github</a>
    </div>

  </div>
  <form class='form' style='margin-top: 20px'>
    <textarea class='form-control' style='width: 100%'><%= examples[_.random(examples.length-1)] %></textarea>
  </form>

  <div class='mtl btn btn-default analyze' style='font-family: monospace; width: 50%;'>
    FEED CHORD BOT
  </div>
  <div class='mtl btn btn-default play rfloat mbl' style='font-family: monospace; width: 24%;'>
    PLAY
  </div>
  <div class='mtl btn btn-default rfloat mbl' style='font-family: monospace; width: 24%;' data-toggle="collapse" data-target=".not_that_helpful_info">
    WHAT NEXT?
  </div>

  <div class="loading" style="display: none; text-align: center; padding-top: 40px;" > 
    <img style="margin: auto;" src="/images/loading.gif"> </img> 
  </div>

  <div class='progression_info hidden clearfix row'> 
    <div class="clearfix">
      <h2 class='col-md-6'>CURRENT KEY: <select class='mll key_selector'> </select></h2>
      <div class="col-md-4 col-xs-4 likeliness_ratio mll pal"> </div>
      <a href='#' class='mtl col-md-1 col-xs-4 rfloat' data-toggle='collapse' data-target='.progression_info .innards'>details</a>

    </div>

    <div class="clearfix">


    </div>

    <div class="innards collapse clearfix mtl">
      <hr />
      <div class="col-md-2 col-xs-4">harm 
        <br /><span class='harmoniousness'> </span></div>
      <div class="col-md-2 col-xs-4">breaks
        <br /><span class='grammar_breaks'> </span></div>
      <div class="col-md-1 col-xs-12"> </div>
      <div class="col-md-2 col-xs-4">mod harm 
        <br /><span class='mod_harmoniousness'> </span></div>
      <div class="col-md-2 col-xs-4">mod breaks
        <br /><span class='mod_grammar_breaks'> </span></div>
      <div class="col-md-2 col-xs-4">modulations
        <br /><span class='alternate_key'> </span></div>
      <div class="clearfix"></div>
      <div class="clearfix">
        <div class="histogram clearfix bml row"> </div>
      </div>
    </div>
  </div>

  <div class='progression '> </div>
  <div class='modulation_table mtl'> 
    <div class='modulation_controls hidden row' style='margin-right: 0px'> 
      <div href='#' class='hist_control col-xs-4 mods active'>Diatonic</div> 
      <div href='#' class='hist_control col-xs-4 invs'>Inversions (1)</div> 
      <div href='#' class='hist_control col-xs-4 sinvs'>Inversions (2)</div> 
      <div class="clearfix"> </div>
      <div href='#' class='hist_control col-xs-6 alts'>Chromaticisms</div> 
      <div href='#' class='hist_control col-xs-6 subs'>Modal Mixture</div> 
    </div>
    <div class='mod_table'>

    </div>
  
  </div>

</div>

