<% add_stylesheet("home") %>

<div class="container" style="margin: auto; margin-top: 10px; padding-bottom: 200px">


  <%= render_partial("home/about.html.erb") %>
  <%= render_partial("home/chordbot.html.erb") %>
  <%= render_partial("home/progression.html.erb") %>
  <%= render_partial("home/mod_table.html.erb") %>

</div>

