<% add_stylesheet("home") %>

<% 

  var examples = [
    "AM D AM D F G Am",
    "Gm E Gm E",
    "Dm GM CM AM Dm G7 CM Dm E7",
    "Ab Db Ab Db Fb Gb Ab",
    "G Em G Em G Bm Am D G Em Bm G G D G Bm C D G C G Bm Am D G Em Bm Em G F D"
  ];
%>

<div class="container" style="margin: auto; margin-top: 10px; padding-bottom: 200px">

  <form class='form' style='margin-top: 200px'>
    <textarea class='form-control' style='width: 100%'><%= examples[_.random(examples.length-1)] %></textarea>
  </form>

  <div class='mtl btn btn-default analyze' style='font-family: monospace; width: 49%;'>
    FEED CHORD BOT
  </div>
  <div class='mtl btn btn-default play rfloat mbl' style='font-family: monospace; width: 49%;'>
    HEAR CHORD BOT
  </div>

  <div class="loading" style="display: none; text-align: center; padding-top: 40px;" > 
    <img style="margin: auto;" src="/images/loading.gif"> </img> 
  </div>

  <div class='progression_info hidden clearfix row'> 
    <h2 class='col-md-12'>CURRENT KEY: <select class='mll key_selector'> </select></h2>

    <div class="col-md-2">harm 
      <br /><span class='harmoniousness'> </span></div>
    <div class="col-md-2">breaks
      <br /><span class='grammar_breaks'> </span></div>
    <div class="col-md-1"> </div>
    <div class="col-md-2">mod harm 
      <br /><span class='mod_harmoniousness'> </span></div>
    <div class="col-md-2">mod breaks
      <br /><span class='mod_grammar_breaks'> </span></div>
    <div class="col-md-2">modulations
      <br /><span class='alternate_key'> </span></div>
  </div>

  <div class='progression row'> </div>
  <div class='histogram mtl row'> </div>
</div>

