<% add_stylesheet("home") %>

<div class="container" style="margin: auto; margin-top: 10px; padding-bottom: 200px">
  <div class='progression'> </div>
  <hr />
  <div class='histogram'> </div>
</div>

